.listing-img, .img_2photo, .top_bg_img{
        position: absolute;
        top:0;left:0;
        height: 100%;
        opacity: 0;
        width: 100%;
    }
    .top_bg_img{
        position: relative;
    }
    .content_listing_large-img {
        padding-bottom:66.5%;
        /*background: #999;*/
    }
    .teaser_hotel_container.lazyloading{
        padding-bottom: 33%;
        /*background: #ccc;*/
    }
    .lazyload, .lazyloading{
        opacity: 0;
    }
    .wrapper_2photo_img{
        border: 0 !important;
        padding-bottom:65%;
        /*background: #999;*/
        width:100%;
    }

        .lazyloading:not(iframe) {
            opacity: 0.5;
            transition: 600ms opacity !important;
            background: #f7f7f7 url('/v8/img/loader_default.gif') no-repeat center;
        }

        .lazyloaded {
            opacity: 1 !important;
            transition: 200ms opacity;
        }

        [data-expand].lazyload {
            opacity: 0;
            transform: scale(0.8);
        }

        [data-expand].lazyloaded {
            opacity: 1;
            transition: all 700ms;
            transform: scale(1);
        }

        .effect-row-middle  > [data-expand]:nth-child(2),
        .effect-row-reverse  > [data-expand]:nth-child(3),
        .effect-row > [data-expand]:nth-child(1) {
            transition-delay: 100ms;
        }

        .effect-row-middle  > [data-expand]:nth-child(1),
        .effect-row-middle  > [data-expand]:nth-child(3),
        .effect-row-reverse  > [data-expand]:nth-child(2),
        .effect-row > [data-expand]:nth-child(2) {
            transition-delay: 400ms;
        }

        .effect-row-reverse  > [data-expand]:nth-child(1),
        .effect-row > [data-expand]:nth-child(3) {
            transition-delay: 700ms;
        }