@import 'layout'; // default grid and media queries
@import 'default'; // default base CSS
@import 'mixin'; // custom mixins
body {
    background-color: #f5f5f5;
}
.body-wrapper{
    padding-top:50px;
}
.top{
    &-menu{
     width:100%;
     color:#fff;
     padding-bottom: 2px;
     text-align: left;
     font-size:1.3em;
     padding-left:5%;
     padding-top:10px;
     @extend %fixed;
     @extend %top-menu-index;
     border-bottom: 1px solid #E8E8E8;
     background-color: #556E83;
     margin-top:0;
     li{
        @extend %left;
        text-decoration: none;
        list-style: none;
        @extend %pointer;
     }
     &-detail{
        float: right !important;
        padding-right: 10%;
        li{
            padding-right:20px;
            @extend %pointer;
        }
        .active{
            border-bottom-color: #ea168b;
            padding-bottom: 10px;
            border-bottom: 1px solid;
            padding-right: 0;
            margin-right: 20px;
        } 
     }
    }
}
.red_tab{
    background-color: #F00;
    left: 0;
    top: 0;
    vertical-align: middle;
    padding: 4px;
    z-index: 0;
    width: 125px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -0.04em;
    text-align: center;
    color:#fff;
}
.teaser-big-detail{
    font-family: "Arial";
    @extend %relative;
    top:10px;
    h4{
        font-size: 1.5em;
        margin: 0;
        a{
            color: #494949;
            line-height: 22px;

        }
    }
    p{
        width:70% !important;
        font-family: $def_family;
        font-size: 1em;
        a{
            color: rgb(234, 22, 139);
            padding-bottom: 10px;
            letter-spacing: -0.2px;
            text-decoration: none;
        }
    }
    .language-html{
        top:0 !important;
    }
}
.div-line{
    border-bottom: 3px solid #D9DADA;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.86);
    margin: 10px 0;
}
.no-hover:hover {
    background-color: $def_link_color !important;
}
.wrapper {
    .language-html{
        @extend %right;
        margin-top:5px;
        margin-bottom:5px;
    }
    div {
        @extend %clear;
    }
    overflow: auto;
	padding-left: 5%;
    padding-right: 5%;
    background-color: #fff;
    @extend %margin-section;
    @extend %block;
    @extend %text-center;
    max-width: $def_max_width;
    @extend %clear;
    padding: 10px;
    box-shadow: 0 0 1px 0 rgba(44, 54, 67, 0.3);
    border-radius: 5px;
    h2 {
        @extend %text-left;
        @include title-padding(5%);
    }
    @at-root h1:first-child, %base-h1, .base-h1 {
        color: #297CBB;
        line-height: 1.15em;
        font-size: 2em;
        border-bottom: 1px solid rgba(204, 204, 204, 0.33);
        width: 100%;
        text-align: left;
        padding-bottom: 20px;
        margin-bottom: 0;
    }
    // .wrapper-font
    &-font {
        pre{
            @extend %block;
            max-height: 110px;
            padding: 0;
            overflow:hidden;
        }
        @extend .wrapper;
        h1, h2, h3, h4 {
            @extend %left;
            @extend %clear;
            @extend %text-left;
            @include title-padding(0%);
            letter-spacing: -0.8px;
            text-shadow: 0 1px 0 #fff;
        }
        h1:first-child {
            @extend %base-h1;
        }
        .language-html {
            @extend %show;
            @extend %right;
            top: 20px;
            @extend %relative;
        }
        p {
            @extend %clear;
            width: 80%;
            float: left;
            a{
                text-decoration: none;
            }
        }
        .related_header {
            color: #a09e9e;
            font-family: arial;
            font-weight: 600;
           
        }
    }
    // .wrapper-top10
    &-top10 {
        @extend .wrapper;
        ol {
            li {
                @extend %pointer;
                &:hover {
                    text-decoration: underline;
                }
                @extend %clear;
                width: 100%;
                @extend %text-left;
                line-height: 1.3;
            }
        }
    }
    // .wrapper-header
    &-header {
        @extend .wrapper;
       
        h3 {
            color: #474646;
            font-weight: 600;
            @extend %relative;
            margin: 0;
            font-size: 2.5em;
            font-family: Arial;
            letter-spacing: -0.8px;
            line-height: 1.3;
        }
        h3:after {
            content: url('../img/go50.png');
            top: 0.5em;
            left: 0.2em;
            @extend %relative;
        }
        pre {
            @extend %block;
        }
        div{
            font-size: 1.2em;
            margin: 0 auto;
            color: #666666;
        }
        &-related{
            @extend .wrapper-header;
            padding-top: 30px;
            h3{
                color: #a09e9e;
                font-size: 1.8em;
                line-height: 0;
                display: inline-block;
                &:before{
                    background-image: url("../img/line-dot.png");
                    background-repeat: no-repeat;
                    content: "";
                    @extend %block;
                    height: 7px;
                    @extend %relative;
                    width: 100%;
                    right: 115%;
                    -webkit-transform: scaleX(-1);
                    -moz-transform: scaleX(-1);
                    -ms-transform: scaleX(-1);
                    -o-transform: scaleX(-1);
                    transform: scaleX(-1);
                }
                &:after{
                    background-image: url("../img/line-dot.png");
                    background-repeat: no-repeat;
                    content: "";
                    @extend %block;
                    height: 7px;
                    @extend %relative;
                    width: 100%;
                    left: 115%;
                    top:-5px;
                }

            }
            
            .code-preview-button{
                top:-25px;
                background-color:#fff;
                z-index: $def_z-index-4;
            }
        }
    }
    &-hr{
        @extend .wrapper;
    }
}

.block {
    // block-color
    &-color {
        @extend %block;
        @extend %title-padding;
        @extend %pointer;
        //block-color-star
        &-star{

            @at-root &:before, %star-profile{
                color: #fcc416;
                font-family: "awdstar";
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                letter-spacing: 2px;
                speak: none;
                position: relative;
                text-decoration: inherit;
                text-align: left;
                font-variant: normal;
                text-transform: none;
                text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
                @extend %block;
                @include padding(0, 0, 5px, 5px);
                
            }
            &-5{
                @extend %left;
                &:before{
                    content: '\e802 \e802 \e802 \e802 \e802';
                    @extend %star-profile;
                }
            }
            &-4{
                @extend %left;
                &:before{
                    content: '\e802 \e802 \e802 \e802';
                    @extend %star-profile;
                }
            }
            &-3{
                @extend %left;
                &:before{
                    content: '\e802 \e802 \e802';
                    @extend %star-profile;
                }
            }
            &-2{
                @extend %left;
                &:before{
                    content: '\e802 \e802';
                    @extend %star-profile;
                }
            }
            &-1{
                @extend %left;
                &:before{
                    content: '\e802';
                    @extend %star-profile;
                }
            }
        }

        // block-color li
        li {
            @extend %left;
            padding: $def_padding;
            margin: $def_gutter;
            list-style: none;
            @include column();
            // block-color li dt
            dt {
                @include border-radius(6px);
            }
        }
        // block-color-default
        @at-root &-default, %third {
            height: 50px;
            background-color: #fff;
            border: $def_border;
            // block-color-default--hover
            &--hover {
                @extend %third;
                background-color: $def_link_hover;
            }
            &:hover {
                background-color: $def_link_hover;
            }
        }
        // block-color-link
        &-link{
            @extend %third;
            background-color: rgb(234, 22, 139);
        }
        &-paragraphlink{
            @extend %third;
            background-color: rgb(0,0,255);
            &:hover{
                background-color: rgb(0, 0, 255);
            }
        }
        &-hilight{
            @extend %third;
            background-color: #fdf4d7;
            &:hover{
                background-color: #fdf4d7; 
            }
        }
    }
}
.code-preview {
    @extend %relative;
    @extend %right;
    @extend %hidden;
    &-button{
        @extend .code-preview;
        @include padding(8px, 8px, 10px, 10px);
        border-radius: 5px;
        border:1px solid #ccc;
        visibility: visible !important;
        top: -40px;
        @extend %pointer;
        text-transform: uppercase;
    }
    &-icn {
        width: 32px;
        height: 32px;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAI3AAACNwBn+hfPAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEwSURBVFiF7dUxS9VhFMfxz0+FGkSLhuguKoFuRY7lYJNTbyA3X0Rb0tIrcLtDQ5OvoMWXoK1qTRdBnERoUgKfBp8h7nD//4uGGv8DB86Bc37ny+E5PCmluE2buNXpHUAH0AF0AHcBYGrchiSLeIeXmMMzPMZvDLCDfinluJVgKaXRMYn3+I7Sws+xiYkm7TR9RkmW8REn2MMPnOICs1io23hRN9LDo9q+VUr5MFK/BcB8KWUwsuga1gjwr631FST5lORty9pXSbaTPLgxAFzia5JvSdaSZGjoZJLXSb6gj+dYaVRteQUzOMR0FT3DTxzhwNXj3McvrNeeHlYbtVsCBPM1fordGs/Wwb2af8ZGG82xAIZgHuLNX3kfUzV+gqVx9O7PFXQAHUAH0AH8twB/ALf4PgSZdBcKAAAAAElFTkSuQmCCbd02093d0d36ecdc0be7fba31c533856');
        @extend %block;
        @extend %right;
        @extend %relative;
        @extend %pointer;
        right: -8px;
        top: 0;
        &-all {
            @include padding(8px, 8px, 5px, 5px);
            background-repeat-x: no-repeat;
            font-size: 0.5em;
            color:#000;
            font-weight: 500;
            text-transform: uppercase;
            border-radius: 5px;
            border: 1px solid #ccc;
            right: 10px;
            @extend %right;
            @extend %relative;
            @extend %pointer;
            &:hover:before {
                display: none !important;
            }
        }
        &:hover:before {
            content: 'preview';
            display: block;
            color: rgba(204, 204, 204, 0);
            position: relative;
            left: -57px;
            top: 4px;
            border-radius: 14px;
            width: 74px;
            padding-top: 3px;
            padding-bottom: 3px;
            text-align: left;
            padding-left: 10px;
        }
    }
    &:checked ~ dd > pre {
        @extend %show;
    }
    &:checked ~ &-icn {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAAC9AAAAvQEdWsb6AAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAJxQTFRF////AAAAAAAAMzMzJycnIiIiICAgHh4eHx8fICAgHx8fICAgJCQfIyMjIiIiISEhICAgIyMgIyMfISEhIyMgISEhIyMgIiIgIiIiIyMhIiIiIiIiIiIhIiIhIyMhIyMhIiIiIiIiIyMhIiIhIiIhIiIhIiIhIiIhIiIiIyMhIiIhISEhIiIhIiIhIiIhIiIhIiIhIiIhIiIhIiIhoRQZewAAADN0Uk5TAAEDBQ0PEBEhKCkwMjs8Pj9ISU1gY25vcXWIiY2Voqmvtri5urvEydXW2t3j7fD3+P3+Gpe2tgAAAMFJREFUOMvlkscSgkAQRJvFgIiCAVCMoLC6AgL9///mwSqzqGf7NvW6akIP8H/SnMliMXG0d9zdkyS5d1/i5pplEoxGQVJy3Xzm1oHK9uIsiz1b8WA98kFRzU1JpikpzXlVDO55J6cvJEMDMEJK4TPv3PKW4gwew3MV0sOMqnXlYsOlhpgG+lL2YTCGtuRGXAxTRjqQpYAkJZBmgB5x+r3hdYut+DBk+5c1nw91HNafWnXrw1o1auPejWsfxu/hD3UCvLEhyI1CsNMAAAAASUVORK5CYII847fc2faa149d639a96100352f6821af');
    }
}
